* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  --bottom-line: 1px solid #ccb9b5;
  --main-pink-color: #ccb9b5;
}

:root > * {
  font-size: 0.8rem;
}

.flex-sample {
  display:flex;
  align-items: center;
  flex-wrap: nowrap;
}

header {
  background-color: #442C2E;
  color: aliceblue;
  justify-content: start;
  padding: 10px;
}

.gd-icon {
  display: flex;
  align-items: center;
}

.search-form {
  width: 100%;
  justify-content: flex-end;
}

label[for="search"] {
  margin-right: 10px;
}


#search {
  min-width: 470px;
  padding: 0 10px;
  border-radius: 6px;
  font-size: 0.8rem;
  min-height: 1.5rem;
  outline: none;
}

/*.main-grid {
  padding-top: 1rem;
  display:grid;
  grid-template-columns: 11rem repeat(12,minmax(0,1fr)) 11rem;
  grid-row-gap: calc(1em + .5vw);
}
*/

main {
  margin: 2% 20% 0% 20%;

}

.first-main-flex {
  padding-bottom: 0.8rem;
  justify-content: space-between;
  border-bottom: var(--bottom-line);
}

h1 {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.sorter {
  font-size: 0.7rem;
  white-space: nowrap;
  background-color: var(--main-pink-color);
  padding: 0.3em;
  border-radius: 5px;
  box-shadow: 0 13px 27px -15px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  border: 1px solid rgba(0,0,0,.05);
}

.repo-card {
  border-bottom: var(--bottom-line);
  display: flex;
  padding: 0.8rem 0;
}

.repsitory-icon {
  margin-right: 0.5rem;
}

.repo-info {
  width: 100%;
}

.repo-info > div {
  margin-top: 0.6rem;
  display: flex;
  align-items: center;
  font-size: 0.6rem;
  justify-content: space-between;
  width: 100%;
}

.stars img {
  vertical-align: text-bottom;
  margin-right: 0.1em
}

.github-link {
  color: var(--main-pink-color);
  text-decoration: none;
}

.github-link:hover {
  text-decoration: underline;
}

.pagination-container {
  margin: 0.8rem 0;
  text-align: center;
}

.pagination-container > * {
  display: inline-block;
  margin: 0.1em;
  padding: 0.4em 0.8em;
  text-decoration: none;
  color: black;
  cursor: default;
  border: 1px solid transparent;
}

.pagination-container a {
  cursor: pointer;
}

.pagination-container a:hover {
  border-radius: 5px;
  border: var(--bottom-line);
}

.current-page {
  border: 1px solid rgba(0,0,0,.05);
  background-color: var(--main-pink-color);
  border-radius: 5px;
  box-shadow: 0 13px 27px -15px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

.disabled {
  color: gray;
}

@media all and (max-width: 800px) { 
  label[for="search"] {
    margin-right: 0px;
  }
  #search {
    min-width: 300px;
    margin: 0.4em 0;
  }
  .number-search-results, .search-form label {
    text-align: center;
  }
  .number-search-results {
    margin: 0.4em 0;
  }
  main {
    margin: 2% 10% 0% 10%;
  }
  .flex-sample {
    flex-direction: column;
  }
}

@media all and (max-width: 544px) {
  .pagination-container :nth-child(n+2):nth-last-child(n+2) {
    display: none;
  }
  .pagination-container > * {
    padding: 0.4em 2em;
  }
}

@media all and (max-width: 300px) {
  #search {
    min-width: 240px;
  }
  .repo-info > div {
    flex-direction: column;
    align-items: flex-start;
  }
}












